# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# SQLite file location. This is relative to the prisma directory
DATABASE_URL="file:./dev.db" 

#Secret key for Google reCAPTCHA. This is not currently used and is unecessary. can be generated using the recaptcha website
SECRET_KEY="MY_KEY" 

# Node environment. Since there is no build step, this is necessary when running with Bun (apparently)
NODE_ENV="development" 

# Secret. This can be generated with the following command in the terminal: node -e "console.log(crypto.randomBytes(32).toString('hex'))". Note, if this is changed, all existing DB Users will be inaccessible.
JWT_SECRET="some-key" 

# SMTP settings - By default, the SMTP server is set to MailHog. This is a dummy SMTP server that can be used for testing. It is not suitable for production.
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_USER="user"
SMTP_PASS="pass"
SMTP_SECURE="false"

# URL For the frontend application. 
FRONTEND_URL="http://localhost:5173"
