

.Register {
  .Modal__content {
    max-width: 480px;
    min-width: unset;
  }

  &--mobile {
    .Modal__content {
      padding: 20px;
      border-radius: 0;
      height: 100%;
      max-width: 100%;
    }

    .Register__select {
      & label {
        display: block;
        width: 100px;
      }
    }
  }

  &--tiny {
    .Register__select {
      width: 100%;
    }
  }

  &__field {
    margin-bottom: 20px;
  }

  &__select.SelectField {
    flex-grow: 1;
    width: 100px;
  }
}