@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Modal {
  --modal-content-background-color: #313338;

  &--fadeIn {
    animation: fadeIn 0.3s ease-in; /* Fade in animation */
  }

  &__content {
    background-color: var(--modal-content-background-color);
    padding: 30px;
    border-radius: 8px;
    width: 500px;

    &--fadeIn {
      animation: fadeIn 0.3s ease-in; /* Fade in animation */
    }
  }
}