.SelectField {
  --background-color: #1e1f22;
  --color: #dbdee1;
  --display-dropdown: none;
  
  display: flex;
  flex-direction: column;
  position: relative;
  width: 140px;

  &__input {
    .InputField__input {
      cursor: pointer;
    }
  }

  &__select {
    position: relative;
  }

  &__chevron {
    position: absolute;
    right: 10px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.2s ease-in-out;

    &--open {
      transform: translateY(-50%) rotate(0deg);
    }
  }

  &__dropdown {
    position: absolute;
    display: var(--display-dropdown);
    top: 100%;
  }
}