.Button {
  --width: auto;
  --height: 38px;
  --color: #fbfbff;
  --background-color: #5865f2;
  --background-color--hover: #4752c4;

  border: none;
  display: block;

  color: var(--color);
  background-color: var(--background-color);
  height: var(--height);
  width: var(--width);

  border-radius: 4px;
  padding-inline: 20px;

  cursor: pointer;
  transition: background-color 0.2s;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &:hover {
    background-color: var(--background-color--hover);
  }

  &:focus {
    border-radius: 4px;
    outline: 1px solid #fbfbff;
  }
}