.ChatHeads {
  width: 100%;
  position: relative;

  &__icon {
    aspect-ratio: 1 / 1;

    display: block;
    background-color: white;
    width: 65%;
    border-radius: 50%;
    align-self: center;
    margin-inline: auto;
    transition: border-radius 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;

    &--hovered {
      border-radius: 35%;
    }
  }

  &__selected {
    --selected-height: 40%;

    position: absolute;
    top: calc((100% - var(--selected-height)) / 2);
    width: 4%;
    height: var(--selected-height);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    opacity: 0%;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out;

    &--hovered {
      opacity: 100%;
    }

    &--toggled {
      --selected-height: 80%;
      opacity: 100%;
      height: 80%;
    }
  }

  &__input {
    display: none;
  }
}