*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img, svg, picture, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  color-scheme: dark light;
}

@font-face {
  font-family: 'gg-sans';
  src: url('./assets/fonts/gg\ sans\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'gg-sans';
  src: url('./assets/fonts/gg\ sans\ Medium.ttf') format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'gg-sans';
  src: url('./assets/fonts/gg\ sans\ Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'gg-sans';
  src: url('./assets/fonts/gg\ sans\ Semibold.ttf.ttf') format('truetype');
  font-weight: 600;
}